# 示範如何上建立 model，並上傳預測結果到 Kaggle 競賽中

競賽網址，請點擊[這兒](https://www.kaggle.com/t/17393a330d704a56a67171928b4be4c9)

In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## 載入資料集

iris_train.csv 是訓練用資料集.  
iris_test.csv 是測試用資料集。

In [11]:
df_train = pd.read_csv('iris_train.csv')
df_test = pd.read_csv('iris_test.csv')
df_train.head()

    id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   69            5.6           2.5            3.9           1.1        0
1  135            7.7           3.0            6.1           2.3        0
2   56            6.3           3.3            4.7           1.6        0
3   80            5.5           2.4            3.8           1.1        0
4  123            6.3           2.7            4.9           1.8        0

In [12]:
df_train.columns

Index(['id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

在這個例子中，我們只用 ``PetalLengthCm`` 還有 ``PetalWidthCm`` 這兩個欄位做訓練。

In [13]:
y1 = df_train.Species
x1 = df_train[['PetalLengthCm', 'PetalWidthCm']]
x2 = df_test[['PetalLengthCm', 'PetalWidthCm']]

## 建立模型

我們使用 LogisticRegression 做為分類模型。  
你也可以使用 kNN、感知機，或者是其他的分類器做模型。

In [14]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x1, y1)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

底下程式碼中， y2 代表的是測試集中，模型預測出來的結果。

In [15]:
y2 = lr.predict(x2)
y2

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0], dtype=int64)

## 建立上傳到 Kaggle 的檔案

底下的程式碼會建立出一個 DataFrame，其名為 submission。

它有兩個欄位:

- id: 直接由 df_test 中把 id 這個欄位取出來。
- Species: 這個欄位就是 y2 的內容。

In [16]:
#Create a DataFrame with the ids and our prediction regarding whether a flower is Iris-setosa or not
submission = pd.DataFrame({'id':df_test['id'],'Species':y2})

#Visualize the first 5 rows
submission.head()

    id  Species
0  114        0
1   62        0
2   33        1
3  107        0
4    7        1

最後呼叫 pandas 把 dataframe 輸出成 csv 檔。

index=False 的意思是說，不要把最左邊那一欄的索引欄給存下來。  
同學可以試試看把這個屬性設為True，看會多出什麼資料。

In [17]:
submission.to_csv('kaggle1.csv', index=False)