# Sample code

這個 notebook 示範了如何儲存你分類後的資料。

In [20]:
import pandas as pd

In [21]:
df_train = pd.read_csv('iris_train.csv')
df_test = pd.read_csv('iris_test.csv')

In [22]:
df_train.head()

    id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   69            5.6           2.5            3.9           1.1        0
1  135            7.7           3.0            6.1           2.3        0
2   56            6.3           3.3            4.7           1.6        0
3   80            5.5           2.4            3.8           1.1        0
4  123            6.3           2.7            4.9           1.8        0

In [23]:
df_test.head()

    id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0  114            5.8           2.8            5.1           2.4
1   62            6.0           2.2            4.0           1.0
2   33            5.5           4.2            1.4           0.2
3  107            7.3           2.9            6.3           1.8
4    7            5.0           3.4            1.5           0.2

In [24]:
df_train.columns

Index(['id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [25]:
# features 是我們要分析的特徵
features = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']
# target 是我們要分類的結果
target = ['Species']

In [26]:
x1 = df_train[features]
y1 = df_train[target]

In [27]:
x1.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.6           2.5            3.9           1.1
1            7.7           3.0            6.1           2.3
2            6.3           3.3            4.7           1.6
3            5.5           2.4            3.8           1.1
4            6.3           2.7            4.9           1.8

In [28]:
x2 = df_test[features]
x2.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.8           2.8            5.1           2.4
1            6.0           2.2            4.0           1.0
2            5.5           4.2            1.4           0.2
3            7.3           2.9            6.3           1.8
4            5.0           3.4            1.5           0.2

## Construct your classifier

建構你的分類器來完成分類任務

In [29]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
x1.astype(float) # 將所有的欄位都轉成浮點數 casting to the float type
x2.astype(float)

x1 = ss.fit_transform(x1)
x2 = ss.transform(x2)

In [30]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0, solver='lbfgs')
classifier.fit(x1, y1)

C:\Users\justi\anaconda3\envs\MLCourse\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
y2 = classifier.predict(x2)
y2

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0], dtype=int64)

## Create csv to upload to Kaggle

In [32]:
#Create a DataFrame with the ids and our prediction regarding whether a flower is Iris-setosa or not
submission = pd.DataFrame({'id':df_test['id'],'Species':y2})

#Visualize the first 5 rows
submission.head()

    id  Species
0  114        0
1   62        0
2   33        1
3  107        0
4    7        1

In [33]:
#Convert DataFrame to a csv file that can be uploaded
#This is saved in the same directory as your notebook
filename = 'IRIS Predictions 2.csv'

submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: IRIS Predictions 2.csv